name: CI

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 4 1 * *'

jobs:
  build:
    name: ${{ startsWith(matrix.os, 'macos-') && 'macOS' || 'Linux' }}-NDK-${{ matrix.ndk }}
    runs-on: ${{ matrix.os }}
    # don't run pull requests from local branches twice
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.repository

    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest ]
        ndk: [ r25c, r26d, r27d, r29 ]

    env:
      ANDROID_DIR: ${{ startsWith(matrix.os, 'macos-') && 'Library/Android' || 'Android' }}

    steps:
      - uses: actions/checkout@v3
      
      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: ${{ matrix.ndk }}
          link-to-sdk: true

      - name: Install packages
        run: |
          if [ "$RUNNER_OS" = "macOS" ]; then
            brew install autoconf automake libtool pkg-config
          elif [ "$RUNNER_OS" = "Linux" ]; then
            sudo apt-get install curl cmake make libtool pkg-config texinfo libltdl-dev

            # install autoconf 2.71 from source (required by libffi, not available via apt-get on Ubuntu focal)
            wget http://ftp.gnu.org/gnu/autoconf/autoconf-2.71.tar.xz
            tar -xf autoconf-2.71.tar.xz
            cd autoconf-2.71 && ./configure --prefix=/usr/ && make && sudo make install
            autoconf --version

            wget http://ftp.gnu.org/gnu/automake/automake-1.16.4.tar.xz
            tar -xf automake-1.16.4.tar.xz
            cd automake-1.16.4 && ./configure --prefix=/usr/ && make && sudo make install
            automake --version
          else
            echo Unsupported OS $RUNNER_OS
            exit 1
          fi

      - name: Build toolchain
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./build.sh --ndk $ANDROID_HOME/ndk/${{steps.setup-ndk.outputs.ndk-full-version}} --dist-root HOME/${{env.ANDROID_DIR}}/GNUstep

      - name: Package build
        run: |
          tar -a -cf GNUstep-Android-NDK-${{matrix.ndk}}-${{runner.os}}.tar.xz -C$HOME/${{env.ANDROID_DIR}} GNUstep

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          path: GNUstep-Android-NDK-${{matrix.ndk}}-${{runner.os}}.tar.xz
          name: GNUstep-Android-NDK-${{matrix.ndk}}-${{runner.os}}

  prerelease:
    needs: build
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4

      - name: Update GitHub prerelease
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: latest
          prerelease: true
          title: "Latest Build"
          files: "**/GNUstep-Android-*.tar.xz"
